# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
# Data files and caches that should not be versioned
data/
data/faiss_index/
data/bm25.pkl
data/doc_fingerprints.pkl

# Temporary files
temp/
test/

# Logs
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# zip
*.zip
*.rar
*.7z

# excel临时文件
.*.xlsx
